body {
  min-width: 1024px;
}
.logo--color-green{
  color: #69d169;
}
.login__logo {
  color: #69d169;
}
.login__background{
  position: absolute;
  height: 100%;
  width: 100%;
  background-attachment: fixed;
  background-image: url('image.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.login__background::after{
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: #00000033;
}
.login__container{
  padding: 50px 50px;
  width: 100%;
  max-width: 400px;
  min-width: 300px;
  background-color: #ffffff;
}
.login__container h2 {
  color: #333333;
}
.login__form{
  width: 100%;
}
.login__link{
  text-align: right;
}

.index__info_banner{
  background-color: #69d169;
  color: #fff;
}
.index__info{
  max-width: 768px;
  padding: 50px 0px;
}

.banner__info p{
  margin: 5px 2px;
}

.background--color-greengray{
  background-color: #8efc8f;
  background-image: linear-gradient(62deg, #8efc8f 0%, #dfff88 100%);
   
}

.banner__item a{
  color: #000;
}
.banner__item:hover *{
  color: #fff;
}

.product__detail__contain{
  display: flex;
  max-width: 1024px;
  margin-left: auto;
  margin-right: auto;
}

.product__image__contain{
  position: relative;
  width: 50%;
  height: 100%;
  min-height: 400px;
}
.product__detail__info{
  width: 50%;
  padding: 0px 20px;
  box-sizing: border-box;
}


nav.pagination{
  display: flex;
  justify-content: center;
  align-content: center;
}
nav>span{
  min-width: 48px;
  height: 48px;
  font-size: 1.2em;
  line-height: 48px;
  margin: 5px;
  text-align: center;
  background-color: #fff;
}

.form__contain{
  max-width: 1024px;
  margin: auto;
}
.order__contain{
  display: flex;
  flex-direction: column;
  max-width: 1024px;
  margin: auto;
}
.order__item{
  display: flex;
  width: 100%;
  margin: 10px 0px;
  padding: 10px;
  background-color: #fff;
  border-radius: 5px;
}
.order__product__info{
  width: 100%;
}
.order__product__control{
  width: 200px;
}
.order__product__control input[type="number"]{
  width: 100%;
}
.order__total{

}
.order__info{
  width: 100%;
}
table.order__table{
  width: 100%;
  border-collapse: collapse;
}
td.number{
  text-align: right;
}

tr,td,th{
  border: 1px solid #333;
}